//- ROCKFALL
//- INDEX FILE
//- ----------
//- ----------

//- extends layout.jade
extend layoutMulti

//- page content
block content

  div#welcome-ui
    //- title
    div.title Rockfall
    //- include includes/shapes

    div.square-group
      img.square(src='../icons/icon_play.png' function='play')
      img.square(src='../icons/icon_key.png' function='connect')
      img.square(src='../icons/icon_about.png' function='about')
      div.square(function='infos')
        span.square-text infos

  //- main user interface
  div#main-ui
    //- side panel with user info, score, settings
    div#side-panel
      label Nombre de joueur connecté :
      span#nombre-joueur-online 0

    //- the game
    div#game-ui
      //- board is here
      //-   img(src="../icons/icon_play.png" class='icon-game' action="play")
      //-   img(src="../icons/icon_skip.png" class='icon-game' action="skip")
      input(type="text",id="pseudo")
      button#searchMatch.button-effet Launch
      
      //- button#button-pause.button-effet pause
      //- button#button-passe.button-effet passer
      //- other ui
      div#game-panel
