//- ----------
//- ROCKFALL
//- INDEX FILE
//- ----------

//- layout.jade
extend layout

//- page content
block content
  div#welcome-ui
    div.title Rockfall

    div.square-group
      div#square-ui.square(function='play')
        img.img-square(src='../icons/icon_play.png')

      div.square(function='connect')
        img.img-square(src='../icons/icon_key.png' function='connect')

      div.square(function='about')
        img.img-square(src='../icons/icon_about.png')

      div.square-infos(function='infos')
        span.square-text infos

    //-   div#square-ui(function='ui')

  div.ghost-panel
    //- floating game
    <canvas id="canvas" width="800px" height="515px">This text is displayed if your browser does not support HTML5 Canvas.</canvas>
