//- ----------
//- ROCKFALL
//- INDEX FILE
//- ----------

//- layout.jade
extend layout

//- page content
block content
  div.title Rockfall
    div.subtitle BETA <br/><br/> v0.6.3

  div.square-group
    div.square(function='play')
      img.img-square(src='../icons/icon_gamepad.png')
      span.text-square play

    div.square(function='connect')
      img.img-square(src='../icons/icon_favoriteflat.png' function='connect')
      span.text-square connect

    div.square(function='leader')
      img.img-square(src='../icons/icon_medal.png' function='leaderboard')
      span.text-square leader

  div.ghost-panel
    //- floating game
    <canvas id="canvas" width="800px" height="515px">This text is displayed if your browser does not support HTML5 Canvas.</canvas>
