extend layout

block content
  div#main-ui
    div#side-panel
      div.user-avatar
        div.user-avatar-img
        span.user-name

      div.power-up
        span.subtitle Power-Up
        span No Power-Up

      div.user-score
      div.user-panel

    div#game-ui
      div#game
      div#game-panel
