//- ROCKFALL
//- INDEX FILE
//- ----------
//- ----------

//- extends layout.jade
extend layout

//- page content
block content
  //- <canvas id="canvas" width="800px" height="515px">This text is displayed if your browser does not support HTML5 Canvas.</canvas>
  div#welcome-ui
    //- title
    div.title Rockfall
    //- include includes/shapes

    div.square-group
      img.square(src='../icons/icon_play.png' function='play')
      img.square(src='../icons/icon_key.png' function='connect')
      img.square(src='../icons/icon_about.png' function='about')
      div.square(function='infos')
        span.square-text infos
      div#square-ui.square(function='ui')

  //- main user interface
  div#main-ui
    //- side panel with user info, score, settings
    div#side-panel
      div#side-panel-main-content
        div.user-avatar
          img.user-avatar-img(src='../icons/icon_key.png')
          span#user-avatar-name-id.user-avatar-name Visitor

        //- power-up are stored here
        div.power-up-panel
          span.title Power-Up
          div
            p#active-power.subtitle No Power-Up
            img#cadre-un.power-up(src='../icons/icon_cross.png' tip='Get 30pts to unlock a level 1 power')
            img#cadre-deux.power-up(src='../icons/icon_cross.png')
            img#cadre-trois.power-up(src='../icons/icon_cross.png')

        //- user score
        div.user-score
          p#user-sore-points 0

        //- settings, message, leadderboard
        div.user-panel
          img.user-panel-icon(src='../icons/icon_settings.png' action='settings')
          img.user-panel-icon(src='../icons/icon_message.png' action='message')
          img.user-panel-icon(src='../icons/icon_trophy.png' action='trophy')

    //- the game
    div#game-ui
      //- board is here
      //-   img(src="../icons/icon_play.png" class='icon-game' action="play")
      //-   img(src="../icons/icon_skip.png" class='icon-game' action="skip")
      div#opaquePause
      button#button-reprendre.button-effet Start
      span#active-player
      <canvas id="canvas" width="800px" height="515px">This text is displayed if your browser does not support HTML5 Canvas.</canvas>
      button#button-pause.button-effet pause
      button#button-passe.button-effet passer
      //- other ui
      div#game-panel
