doctype html

html(lang='en')
  head
    meta(charset="utf-8")
    title RockFall - #{title}

    //- CSS FILES
    link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/fonts.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/loadingbox.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/jquery.qtip.min.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/supersquare.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/supersquare-play.css')

    //- JAVASCRIPT FILES - UI
    script(type='text/javascript' src='/js/jquery-2.1.1.min.js')
    script(type='text/javascript' src='/socket.io/socket.io.js')
    script(type='text/javascript' src='/js/script.js')
    script(type='text/javascript' src='/js/jquery.timer.js')
    script(type='text/javascript' src='/js/jquery.qtip.min.js')
    script(type='text/javascript' src='/js/globals.js')
    script(type='text/javascript' src='/js/supersquare.js')
    script(type='text/javascript' src='/js/supersquare-game.js')
    script(type='text/javascript' src='/js/supersquare-settings.js')
    script(type='text/javascript' src='/js/supersquare-message.js')
    script(type='text/javascript' src='/js/message.js')
    script(src="/socket.io/socket.io.js")

    //- JAVASCRIPT FILES - GAME
    script(type='text/javascript' src='/game/js/plateau.js')
    script(type='text/javascript' src='/game/js/piece.js')
    script(type='text/javascript' src='/game/js/physics.js')
    script(type='text/javascript' src='/game/js/players.js')
    script(type='text/javascript' src='/game/js/tours.js')
    script(type='text/javascript' src='/game/js/powerWeightDouble.js')
    script(type='text/javascript' src='/game/js/powerWeightLoseHalf.js')
    script(type='text/javascript' src='/game/js/powerNeutralPiece.js')
    script(type='text/javascript' src='/game/js/style.js')
    script(type='text/javascript' src='/game/js/eventGame.js')
    script(type='text/javascript' src='/game/js/main.js')


  body
    div#body
      div#header
        //- include includes/header
      div#container
        block content
      div#footer
        //- include includes/footer
