doctype html

html(lang='en')
  head
    meta(charset="utf-8")
    title RockFall - #{title}

    link(type='text/css', rel='stylesheet', href='/stylesheets/style.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/fonts.css')

    script(type='text/javascript' src='/js/jquery-2.1.1.min.js')
    script(type='text/javascript' src='/js/script.js')
    script(type='text/javascript' src='/js/sidepanel.js')
    script(type='text/javascript' src='/js/settings.js')
    script(type='text/javascript' src='/js/notifications.js')

    script(type='text/javascript' src='/game/js/plateau.js')
    script(type='text/javascript' src='/game/js/main.js')


  body
    div#body
      div#header
        include includes/header
      div#container
        block content
      div#footer
        include includes/footer
