/*@import 'nib'*/
/*-------------------*/
/*-----VARIABLES-----*/
/*-------------------*/
/*------------------*/
.login-ui {
  width: 50%;
  height: 90%;
  margin: auto;
  text-align: center;
  font-size: 1.7em;
  transition: 1s;
}
.login-ui .button {
  padding: 10px;
  margin: 10px;
  font-size: 0.8em;
  cursor: pointer;
  display: inline-block;
  background-color: rgba(0,0,0,0.3);
  transition: 0.5s;
}
.login-ui .button:hover {
  background-color: rgba(0,0,0,0.6);
  transition: 0.5s;
}
.login-ui .form {
  width: 200px;
  display: block;
  margin: auto;
  margin-bottom: 0;
  margin-top: 0;
}
.login-ui .form .form-block {
  display: block;
  margin-bottom: 10px;
}
.login-ui .form .edit-info {
  font-size: 0.7em;
  text-align: left;
  display: block;
  margin-top: 5px;
}
.login-ui .form .input {
  display: block;
  margin-top: 10px;
  width: 200px;
  height: 20px;
  opacity: 0.5;
  transition: 0.5s;
}
.login-ui .form .input:hover {
  opacity: 0.5;
  border: 5px solid #000;
  transition: 0.5s;
}
.login-ui .form .input:focus {
  opacity: 1;
  height: 25px;
  border: 10px solid #3498db;
  transition: 0.5s;
}
.login-ui .form .color-visualiser {
  height: 20px;
  width: 20px;
  transition: 1s;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: -5px;
  border-radius: 20px;
  display: inline-block;
}
.login-ui .form .button-form {
  color: #fff;
  font-size: 0.9em;
  font-family: exothinitalic;
  opacity: 0.5;
  background-color: #000;
  display: inline-block;
  border-width: 0;
  padding: 10px;
  margin-right: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.login-ui .form .button-form:hover {
  opacity: 0.7;
  transition: 0.5s;
}
.login-ui-message {
  font-size: 1.3em;
  text-align: center;
  width: 400px;
  margin: auto;
  margin-top: 60px;
  border-radius: 10px;
  border: 10px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.1);
}
.login-ui-message .button-form {
  padding: 10px;
  background: rgba(0,0,0,0.1);
  text-align: center;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s;
}
.login-ui-message .button-form:hover {
  opacity: 1;
  transition: 0.5s;
}
