// Main UI
// which contains the game
// and the main functions
// --------
main-font = exothinitalic
color-alizarin = #e74c3c

#square-ui{
    .mini-icon{
        opacity 0.2
        width 30px
        height 30px

        margin-right -5px

        cursor pointer
        transition 1s

        &:hover{
            opacity 1
            transition 1s
        }

        &[isGlowing='true'] {
            animation-duration: 1s
            animation-direction: alternate
            animation-iteration-count infinite
            animation-name: glowIcon

        }
    }

    .square-ui-game {
        height 60%
        width 67%

        margin auto
    }

    .vertiacal-pan {
        width 140px
        height 300px
        opacity 0.5
        display inline-block

        text-align center
        cursor pointer
        color white

        margin auto
        margin-top 10px
        margin-left 5px
        padding 5px

        background black
        transition 0.5s

        &:hover {
            opacity 1
            width 155px
            transition 0.5s

            .text-info {
                color white
            }
        }

        img {
            height 70px
            width 70px
            display block

            margin auto
            margin-top 30px
            margin-bottom 30px
        }

        .text-info {
            margin-top 10px
            display inline-block
            color transparent
        }
    }
}


// Second-panel
// which contains
// others functions
// like messages, setings
// ------------
.second-panel {
    height 440px
    width 840px

    position relative
    left -5px

    margin auto
    margin-top -10px
    padding-top 10px
    background #e74c3c

    border-radius 5px

    -moz-box-shadow: 0 0 20px #000000;
    -webkit-box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 20px #000000;

    // icons
    .mini-icon {
        opacity 0.2
        width 30px
        height 30px

        margin 5px

        cursor pointer
        transition 1s

        &:hover{
            opacity 1
            transition 1s
        }
    }

    // Messages container
    .message-panel {
        .second-panel-title {
            width 100%
            margin auto

            color white
            font-size 2em
            text-align center

            display inline-block

            .mini-icon {
                display block
                margin auto
            }
        }

        // New Message Form
        .new-message {
            width 400px
            margin auto

            .form-title {
                color white
                opacity 0.7
            }

            .new-message-to {
                height 30px
                width 90%
                background black
                display block

                color white
                opacity 0.2
                border-width 0
                border-style solid
                // border-radius 5px

                margin-top 5px
                margin-bottom 10px
                padding 10px
                transition 0.5s

                &:hover {
                    opacity 0.5
                    transition 0.5s
                }
                &:focus {
                    opacity 0.7
                }
            }
            .new-message-body {
                height 100px
                width 90%
                background black
                display block

                color white
                opacity 0.2
                border-width 0
                border-style solid
                // border-radius 5px
                padding 10px
                transition 0.5s

                &:hover {
                    opacity 0.5
                    transition 0.5s
                }
                &:focus {
                    opacity 0.7
                }
            }

            input[type='submit'] {
                height 40px
                width 95%
                opacity 0.2
                background black

                color white
                font-size 1.4em
                font-family main-font

                cursor pointer
                padding 10px
                border-width 0px
                margin-top 10px

                transition 0.5s

                &:hover {
                    opacity 0.5
                    transition 0.5s
                }
            }
        }

        .inbox-messages {
            width 65%
            margin auto

            .inbox-left-section, .inbox-right-section {
                width 50px
                opacity 0
                cursor pointer
                display inline-block

                position relative
                top -120px

                transition 0.5s

                img {
                    height 50px
                    width 50px
                }
            }
            .inbox-center-section {
                height 280px
                width 420px
                max-width 420px
                display inline-block

                overflow hidden
            }

            .message {
                height 100px
                width 100px
                opacity 0.5

                color white
                text-align center
                display inline-block
                background black

                margin 10px
                padding 10px

                position relative
                top 0

                cursor pointer
                transition 0.5s


                img {
                    height 60px
                    width 60px
                }

                .message-expeditor {
                    display block
                    max-width 100px
                    overflow hidden
                }
                .message-date {
                    font-size 0.8em
                }
            }
        }

        .full-message {
            height 280px
            width 420px
            background black
            border-radius 5px

            opacity 0.5
            margin auto
            padding 10px

            position relative

            .full-message-header {
                height 50px
                width 100%

                color white

                .header-expeditor {
                    font-size 1.5em
                    display block
                    // margin-bottom 10px
                }
                .header-date {
                    font-size 0.9em
                }
            }
            .full-message-content {
                width 100%
                color white

                margin-top 20px
            }

            .mini-icon {

            }
        }
    }

    .messages-counter {
        color white
        font-size 1.5em

        opacity 0.5
        margin-left 5px
        display inline-block
        cursor pointer

        position relative
        top -10px
    }

    .rectangle-pagination {
        color white
        text-align center

        min-width 90px
        max-width 150px
        display inline-block

        top -10px
        position relative

        opacity 0
        padding 10px
        margin-left 10px
        background color-alizarin

        -moz-box-shadow: 14px 0 40px -13px #000000;
        -webkit-box-shadow: 14px 0 40px -13px #000000;
        box-shadow: 14px 0 40px -13px #000000;

        transition 0.5s
    }

    .settings-panel {
        .second-panel-title {
            width 100%
            margin auto

            color white
            font-size 2em
            text-align center

            display inline-block

            .mini-icon {
                display block
                margin auto
            }
        }

        .settings-content {
            height 200px
            width 600px

            margin auto
            margin-top 40px

            .settings-section {
                height 160px
                width 160px
                background black

                color white
                font-size 1.5em
                text-align center

                cursor pointer
                display inline-block
                position relative

                margin 5px
                padding 10px
                position relative
                top 0

                transition 0.5s

                &:hover {
                    // See .js for others style for hover
                    -moz-box-shadow: 0 0 20px #000000;
                    -webkit-box-shadow: 0 0 20px #000000;
                    box-shadow: 0 0 20px #000000;

                    transition 0.5s
                }

                .side-side {
                    transition 0.5s
                    position relative
                    display inline-block

                    span {
                        margin-top 40px
                        display inline-block
                    }

                    img {
                        height 50px
                        width 50px

                        display block
                        margin auto
                        margin-top 10px
                    }
                }

                .side-content {
                    top 30px
                    left 50px
                    position relative

                    display inline-block
                }

                .rectangle-button {
                    width 200px
                    height 30px

                    opacity 0.5
                    padding 5px
                    margin 5px
                    background black

                    cursor pointer
                    transition 0.5s

                    &:hover {
                        opacity 1
                        transition 0.5s
                    }
                }

                .close-rectangle-text {
                    color black
                    height 20px
                    width 160px
                    padding 10px
                    // background white

                    top 70px
                    right -75px
                    position absolute

                    opacity 0.5
                    z-index 2

                    transform rotate(90deg)
                    // transition 0.5s
                }
                .close-rectangle {
                    height 100%
                    width 30px

                    top 0
                    right 0
                    position absolute

                    background white
                    display inline-block

                    transition 0.5s
                }

                .login-block {
                    margin-top 10px

                    .login-form {
                        .form-title {
                            color white
                            font-size 1.3em

                            display inline-block
                            margin-bottom 10px
                        }
                        input {
                            display block
                            height 30px
                            width 180px

                            margin auto
                            margin-top 5px

                            opacity 0.5
                            font-family main-font

                            border 3px inset rgba(0, 0, 0, 0.15)
                            border-radius 2px

                            transition 0.5s

                            &:hover {
                                opacity 1
                                transition 0.5s
                            }
                        }

                        .icon {
                            height 40px
                            width 40px
                            background transparent

                            padding 10px

                            border-style solid
                            border-width 2px
                            border-color red
                            border-radius 40px

                            transition 0.5s
                        }
                    }
                }

                .audio-block {
                    margin-top 20px
                    
                    .switcher {
                        cursor pointer
                        transition 0.5s
                        display block
                    }
                }
            }
        }
    }
}

// Glow Animation for icons
// --------------
@keyframes glowIcon {
    from {
        opacity 0.2
    }

    to {
        opacity 0.8
    }
}
