// Main UI
// which contains the game
// and the main functions
// --------
main-font = exothinitalic

#square-ui{
    .mini-icon{
        opacity 0.2
        width 30px
        height 30px

        margin-right 5px

        cursor pointer
        transition 1s

        &:hover{
            opacity 1
            transition 1s
        }

        &[isGlowing='true'] {
            animation-duration: 1s
            animation-direction: alternate
            animation-iteration-count infinite
            animation-name: glowIcon

        }
    }

    .square-ui-game {
        height 60%
        width 67%

        margin auto
    }

    .vertiacal-pan {
        width 140px
        height 300px
        opacity 0.5
        display inline-block

        text-align center
        cursor pointer
        color white

        margin auto
        margin-top 10px
        margin-left 5px
        padding 5px

        background black
        transition 0.5s

        &:hover {
            opacity 1
            width 155px
            transition 0.5s

            .text-info {
                color white
            }
        }

        img {
            height 70px
            width 70px
            display block

            margin auto
            margin-top 30px
            margin-bottom 30px
        }

        .text-info {
            margin-top 10px
            display inline-block
            color transparent
        }
    }
}


// Second-panel
// which contains
// others functions
// like messages, setings
// ------------
.second-panel {
    height 400px
    width 840px

    position relative
    left -5px

    margin auto
    margin-top -10px
    padding-top 10px
    background #e74c3c

    border-radius 5px

    -moz-box-shadow: 0 0 20px #000000;
    -webkit-box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 20px #000000;

    // icons
    .mini-icon {
        opacity 0.2
        width 30px
        height 30px

        margin 5px

        cursor pointer
        transition 1s

        &:hover{
            opacity 1
            transition 1s
        }
    }

    .message-panel {
        .second-panel-title {
            width 100%
            margin auto

            color white
            font-size 2em
            text-align center

            display inline-block

            .mini-icon {
                display block
                margin auto
            }
        }

        // New Message Form
        .new-message {
            width 400px
            margin auto

            .form-title {
                color white
                opacity 0.7
            }

            .new-message-to {
                height 30px
                width 90%
                background black
                display block

                color white
                opacity 0.2
                border-width 0
                border-style solid
                // border-radius 5px

                margin-top 5px
                margin-bottom 10px
                padding 10px
                transition 0.5s

                &:hover {
                    opacity 0.5
                    transition 0.5s
                }
                &:focus {
                    opacity 0.7
                }
            }
            .new-message-body {
                height 100px
                width 90%
                background black
                display block

                color white
                opacity 0.2
                border-width 0
                border-style solid
                // border-radius 5px
                padding 10px
                transition 0.5s

                &:hover {
                    opacity 0.5
                    transition 0.5s
                }
                &:focus {
                    opacity 0.7
                }
            }

            input[type='submit'] {
                height 40px
                width 95%
                opacity 0.2
                background black

                color white
                font-size 1.4em
                font-family main-font

                cursor pointer
                padding 10px
                border-width 0px
                margin-top 10px

                transition 0.5s

                &:hover {
                    opacity 0.5
                    transition 0.5s
                }
            }
        }

        .inbox-messages {
            // height 100px
            width 65%
            margin auto

            .inbox-left-section, .inbox-right-section {
                width 50px
                opacity 0.5
                cursor pointer
                display inline-block

                position relative
                top -70px

                transition 0.5s

                &:hover {
                    opacity 1

                    transition 0.5s
                }

                img {
                    height 50px
                    width 50px
                }
            }
            .inbox-center-section {
                max-width 420px
                display inline-block
            }

            .message {
                height 100px
                width 100px
                opacity 0.5

                color white
                text-align center
                display inline-block
                background black

                margin 10px
                padding 10px

                position relative
                top 0

                cursor pointer
                transition 0.5s

                &:hover {
                    top -5px
                    opacity 0.8
                    margin-top 0px
                    transition 0.5s
                }

                img {
                    height 60px
                    width 60px
                }
            }
        }
    }

    .messages-counter {
        color white
        font-size 1.5em

        opacity 0.5
        margin-left 5px
        display inline-block

        position relative
        top -10px
    }
}

// Glow Animation for icons
// --------------
@keyframes glowIcon {
    from {
        opacity 0.2
    }

    to {
        opacity 0.8
    }
}
