/*@import 'nib'*/
/*-------------------*/
/*-----VARIABLES-----*/
/*-------------------*/
/*------------------*/
/*-------------------*/
/*-----CSS-STYL-----*/
/*-----------------*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: exothinitalic;
  background-color: #fff;
  min-height: 100%;
  position: relative;
}
#body {
  min-height: 100%;
  position: relative;
  background: url("../images/shattered.png") 0px 0px repeat;
}
#body #header {
  background: #eee;
}
#body #header #header-top {
  height: 120px;
  overflow: hidden;
  padding-top: 10px;
  text-align: center;
  transition: 0.5s;
}
#body #header #header-top h1 {
  font-size: 4em;
  cursor: pointer;
}
#body #header #header-top:hover {
  transition: 0.5s;
  color: #e74c3c;
}
#body #header #header-bottom {
  width: 50px;
  margin: auto;
}
#body #header #header-bottom .icon-fullscreen {
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: 0.5s;
}
#body #header #header-bottom .icon-fullscreen:hover {
  top: -4px;
  transition: 0.5s;
}
#body #container {
  padding-top: 40px;
  transition: 1s;
}
#body #container #main-ui {
  width: 80%;
  height: 600px;
  min-widgth: 450px;
  position: relative;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  background: transparent;
  color: #fff;
}
#body #container #main-ui #game-ui {
  top: 0;
  left: 328px;
  position: absolute;
  width: 800px;
  height: 500px;
  padding: 20px;
  margin-left: 2px;
  background: #2980b9;
  border: 10px solid rgba(0,0,0,0.01);
  border-radius: 10px;
  display: inline-block;
  transition: 1s;
}
#body #container #main-ui #game-ui:hover {
  border: 10px solid rgba(0,0,0,0.3);
  transition: 1s;
}
#body #container #main-ui #game-ui #canvas {
  display: block;
}
#body #container #main-ui #game-ui #game-panel {
  display: none;
}
#body #footer {
  display: none;
  width: 100%;
  height: 120px;
/* Height of the footer */
  background: #eee;
  text-align: center;
  bottom: 0;
  position: absolute;
}
#body #footer ul {
  margin-top: 20px;
  list-style-type: none;
}
#body #footer ul a {
  color: #000;
  text-decoration: none;
  font-size: 2em;
  transition: 0.5s;
}
#body #footer ul a:hover {
  color: #e74c3c;
  transition: 0.5s;
}
