
#opaquePause{

    background-color:rgba(0, 0, 0,0.3);
    border-radius: 5px;
    position:absolute;
    z-index:15;
}

#button-reprendre{
    display:none;
    top:30%;
    left:22%;
    width:400px;
    height:100px;
    position:absolute;
    font-size:2.5em;
    z-index:20;

    /*background-color: #1270ce ;*/

}

/*#button-pause{
    top:420px;
    left: 620px;
    width:100px;
    height:50px;
    font-size: 1.5em;
    position:absolute;
     z-index:5;
}

#button-passe{

    top:480px;
    left:620px;
    width:100px;
    height:50px;
    font-size: 1.5em;
    position:absolute;
     z-index:5;
}*/

.button-effet{

    border:2px solid white;
    background-color: #3f90e3;
    color:white;
    font-family: exothinitalic;
    cursor: pointer;
    border-radius: 10px;
}

.button-effet:hover{
    border:5px solid #62aaef;
    background-color: #0061c7;
}

.button-effet:active{
    border:5px solid #62aaef;
    background-color: #0061c7;
}

#active-player{

    display:none;
    top:30%;
    left:100px;
    width:400px;
    height:100px;
    position:absolute;
    font-size:2.5em;
    text-align: center;
    line-height: 90px;
    z-index:20;
    border:5px solid white;
    background-color: #0c80f7;
    color:white;
    font-family: exothinitalic;
}

.qtip{

    border-width: 2px;
    border-style: solid;
    border-color: #ff0000;
    background-color: #FF4A4A;
    color: #FFF;
    border-radius: 10px;
    font-size: 16px;
}
