/*@import 'nib'*/
/*-------------------*/
/*-----VARIABLES-----*/
/*-------------------*/
/*------------------*/
/*-------------------*/
/*-----CSS-STYL-----*/
/*-----------------*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: exothinitalic;
  background-color: #fff;
  min-height: 100%;
  position: relative;
}
#body {
  min-height: 100%;
  position: relative;
}
#body #header {
  background: #eee;
}
#body #header #header-top {
  height: 120px;
  overflow: hidden;
  padding-top: 10px;
  text-align: center;
  transition: 0.5s;
}
#body #header #header-top h1 {
  font-size: 4em;
  cursor: pointer;
}
#body #header #header-top:hover {
  transition: 0.5s;
  color: #e74c3c;
}
#body #header #header-bottom {
  width: 50px;
  margin: auto;
}
#body #header #header-bottom .icon-fullscreen {
  height: 40px;
  width: 40px;
  cursor: pointer;
  position: relative;
  top: 0;
  transition: 0.5s;
}
#body #header #header-bottom .icon-fullscreen:hover {
  top: -4px;
  transition: 0.5s;
}
#body #container {
  padding-top: 40px;
  padding-bottom: 130px;
/* Height of the footer */
/* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to bottom right, #1f2029 0%, #3c3e50 100%);
  transition: 1s;
}
#body #container #main-ui {
  width: 80%;
  height: 600px;
  min-widgth: 450px;
  position: relative;
  margin: auto;
  padding: 20px;
  margin-top: 100px;
  background: transparent;
  color: #fff;
}
#body #container #main-ui #game-ui {
  top: 0;
  left: 328px;
  position: absolute;
  width: 800px;
  height: 500px;
  padding: 20px;
  margin-left: 2px;
  background: #2980b9;
  border: 10px solid rgba(0,0,0,0.01);
  border-radius: 10px;
  display: inline-block;
  transition: 1s;
}
#body #container #main-ui #game-ui:hover {
  border: 10px solid rgba(0,0,0,0.3);
  transition: 1s;
}
#body #container #main-ui #game-ui #canvas {
  display: block;
}
#body #container #main-ui #game-ui #game-panel {
  display: none;
}
#body #footer {
  width: 100%;
  height: 120px;
/* Height of the footer */
  background: #eee;
  text-align: center;
  bottom: 0;
  position: absolute;
}
#body #footer ul {
  margin-top: 20px;
  list-style-type: none;
}
#body #footer ul a {
  color: #000;
  text-decoration: none;
  font-size: 2em;
  transition: 0.5s;
}
#body #footer ul a:hover {
  color: #e74c3c;
  transition: 0.5s;
}

#opaquePause{
    
    background-color:rgba(0, 0, 0,0.3);
    border-radius: 5px;
    position:absolute;
    z-index:15;
}

#button-reprendre{
    display:none;
    top:30%;
    left:22%;
    width:400px;
    height:100px;
    position:absolute;
    font-size:2.5em;
    z-index:20;
    
    /*background-color: #1270ce ;*/
    
}

#button-pause{
    top:420px;
    left: 620px;
    width:100px;
    height:50px;
    font-size: 1.5em;
    position:absolute;
     z-index:5;
}

#button-passe{
    
    top:480px;
    left:620px;
    width:100px;
    height:50px;
    font-size: 1.5em;
    position:absolute;
     z-index:5;
}

.button-effet{
    
    border:2px solid white;
    background-color: #3f90e3;
    color:white;
    font-family: exothinitalic;
    cursor: pointer;
    border-radius: 10px;
}
 
.button-effet:hover{
    border:5px solid #62aaef;
    background-color: #0061c7;
}

.button-effet:active{
    border:5px solid #62aaef;
    background-color: #0061c7;
}

#active-player{
    
    display:none;
    top:30%;
    left:100px;
    width:400px;
    height:100px;
    position:absolute;
    font-size:2.5em;
    z-index:20;
    border:5px solid white;
    background-color: #0c80f7;
    color:white;
    font-family: exothinitalic;
}