// --------------------
// SUPERSQUARE.STYL
// --------------------

/*-------------------*/
/*-----VARIABLES-----*/
/*-------------------*/
main-font = exothinitalic
color-alizarin = #e74c3c
color-peter-river = #3498db
color-emerald = #2ecc71
color-belize-hole = #2980b9
color-silver = #bdc3c7
square-size = 100px
/*------------------*/

// Main content of the html page
#container {
    // display none
    padding-bottom 50px

    .title {
        color black
        text-align center

        cursor pointer
        font-size 4em
        margin-left -60px
        transition 0.5s

        &:hover {
            color color-alizarin
            transition 0.5s
        }
    }

    .square-group {
        height  290px
        width 300px
        margin auto
        margin-bottom 0px
        margin-top 100px
    }

    .square-infos {
        position relative
        right 30px
        opacity 0.8

        margin 5px
        padding 20px

        height square-size
        width square-size
        transition 0.5s

        font-size 2em
        color transparent
        text-align center

        position relative
        display inline-block
        background transparent
        top -98px

        .square-text {
            margin-top 80px
            vertical-align middle
            display inline-block
            cursor default
        }
    }

    .square {
        position relative
        right 30px
        opacity 0.8
        cursor pointer

        margin 5px
        padding 20px

        height square-size
        width square-size
        background black
        display inline-block

        -moz-box-shadow: 0 0 20px #000000;
        -webkit-box-shadow: 0 0 20px #000000;
        box-shadow: 0 0 20px #000000;

        overflow hidden
        transition 0.5s

        .img-square {
            height 100px
            width 100px
        }

        // Mouse over
        &:hover {
            opacity 1
            transition 0.5s
        }
    }
}

// Contains the canvas (game board)
.ghost-panel {
    display none
    
    #profil_idPF{
        background-color: rgb(41, 128, 185);
        display:block;
        width: auto;
        height: 90px;
        margin-right:50px;
    }
    
    .profil_currentPlayer:before{
        content: url('/icons/icon_currentPlayer.png');
    }

    .profil_img{
        width: 40px;
        height: 40px;
        margin-left: 20px;
        align:center;
    } 

    .profil_score{
        width: 100px;
        height: 80px;
        margin-left: 20px;
    }

    .profil_point{
        width: 100px;
        height: 80px;
        margin-left: 20px;
    }
    
    .profil_point img{
        width: 40px;
        height: 40px;
    }

    .profil_name{
        width: 100px;
        height: 80px;
        align:center;
        margin-left: 20px;
    }

    #profil_idPS{
        background-color: rgb(40, 94, 124);
        display:block;
        width:auto;
        height:90px;
        margin-right:50px;
    }
}
