/*-------------------*/
/*-----VARIABLES-----*/
/*-------------------*/
/*------------------*/
#container {
  padding-bottom: 50px;
}
#container .title {
  color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 4em;
  margin-left: -60px;
  transition: 0.5s;
}
#container .title:hover {
  color: #e74c3c;
  transition: 0.5s;
}
#container .subtitle {
  height: 18px;
  width: 90px;
  color: #fff;
  font-size: 0.3em;
  text-align: center;
  margin: auto;
  padding: 10px;
  display: block;
  background: #e74c3c;
  overflow: hidden;
  transition: 0.5s;
}
#container .subtitle:hover {
  height: 50px;
  transition: 0.5s;
}
#container .square-group {
  height: 290px;
  width: 300px;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 100px;
}
#container .square {
  opacity: 0.8;
  cursor: pointer;
  position: relative;
  right: 30px;
  margin: 5px;
  padding: 20px;
  height: 100px;
  width: 100px;
  background: #000;
  display: inline-block;
  text-align: center;
  -moz-box-shadow: 0 0 20px #000;
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
  overflow: hidden;
  transition: 0.5s;
}
#container .square .img-square {
  height: 100px;
  width: 100px;
  position: relative;
}
#container .square .text-square {
  color: #fff;
  font-size: 1.5em;
  font-weight: 900;
  display: none;
  top: 30px;
  position: relative;
}
#container .square .text-static-square {
  color: #fff;
  font-size: 2em;
  font-weight: 900;
  top: 30px;
  position: relative;
  display: inline-block;
}
#container .square:hover {
  opacity: 1;
  transition: 0.5s;
}
.ghost-panel {
  display: none;
}
