/*@import 'nib'*/
/*-------------------*/
/*-----VARIABLES-----*/
/*-------------------*/
/*------------------*/
#welcome-ui {
  padding-bottom: 50px;
}
#welcome-ui .title {
  color: #000;
  text-align: center;
  cursor: pointer;
  font-size: 4em;
  margin-left: -60px;
  transition: 0.5s;
}
#welcome-ui .title:hover {
  color: #e74c3c;
  transition: 0.5s;
}
#welcome-ui .square-group {
  height: 290px;
  width: 300px;
  margin: auto;
  margin-bottom: 0px;
  margin-top: 100px;
}
#welcome-ui .square-infos {
  position: relative;
  right: 30px;
  opacity: 0.8;
  margin: 5px;
  padding: 20px;
  height: 100px;
  width: 100px;
  transition: 0.5s;
  font-size: 2em;
  color: transparent;
  text-align: center;
  position: relative;
  display: inline-block;
  background: transparent;
  top: -98px;
}
#welcome-ui .square-infos .square-text {
  margin-top: 80px;
  vertical-align: middle;
  display: inline-block;
  cursor: default;
}
#welcome-ui .square {
  position: relative;
  right: 30px;
  opacity: 0.8;
  cursor: pointer;
  margin: 5px;
  padding: 20px;
  height: 100px;
  width: 100px;
  background: #000;
  display: inline-block;
  transition: 0.5s;
}
#welcome-ui .square .img-square {
  height: 100px;
  width: 100px;
}
#welcome-ui .square:hover {
  opacity: 1;
  transition: 0.5s;
}
#welcome-ui .square[function='play']:hover {
  background: #e74c3c;
}
#welcome-ui .square[function='connect']:hover {
  background: #2980b9;
}
#welcome-ui .square[function='about'] {
  position: relative;
}
#welcome-ui .square[function='about']:hover {
  background: #27ae60;
}
.ghost-panel {
  display: none;
}
